@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Montserrat:wght@700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-size: 16px; 
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    line-height: 1.7; 
    color: #5C3FA0;
    background-color: #FFFFFF;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-weight: 700; 
    color: #8A5DD0; 
    margin-top: 0; 
    margin-bottom: 1.5em; 
    line-height: 1.2;
}

h1 { font-size: 2.5rem; } 
h2 { font-size: 4rem; color: #7B4AE2; } 
h3 { 
    font-size: 2rem; 
    margin-top: 0; 
    margin-bottom: 2em; 
}
h4 { font-size: 1.3rem; }

/* Стилі абзаців та списків */
p {
    font-size: 1.05rem; 
    margin-bottom: 1.5em; 
}

ul, ol {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

/* Стилі посилань та кнопок */
a {
    color: #E94C88; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #5C3FA0; 
    text-decoration: underline; 
}

/* Стиль для кнопок */
.btn {
    display: inline-block;
    padding: 0.8em 2em; 
    background-color: #7B4AE2; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5C3FA0; 
}